<div class="animeDetailsVids ">
@foreach (var item in Episodes)
{
    <div class="videoThumbnail" @onclick="@(()=>ShowPopupModal(item.Title, item.Video))">
        <h3>@item.Number</h3>
        <h3>@item.Title</h3>
    </div>
}
</div>

@if (showingPopup)
{
    <PopupModal Title="@title" VideoUrl="@url" OnCancel="@ClosePopupModal"></PopupModal>
}

@code{
    [Parameter]
    public List<AniEpisodeBase> Episodes {get; set;} = new();
    
    string title;
    string url;
    bool showingPopup;

    void ShowPopupModal(string _title, string _url){
        title = _title;
        url = _url;
        showingPopup = true;
    }

    void ClosePopupModal(){
        title = String.Empty;
        url = String.Empty;
        showingPopup = false;
    }

}