@page "/scroller"
@using Microsoft.JSInterop;
@inject IJSRuntime JS

<div class="scrollCol">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            @if (Promos.Any())
            {
                foreach (var promo in Promos)
                {
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="@promo.image_url" alt="@promo.title" @onclick="@()=>Console.WriteLine(@promo.video_url)">
                    </div>        
                }
            }
            @if (Episodes.Any())
            {
                foreach (var ep in Episodes)
                {
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="@ep.image_url" alt="@ep.title" @onclick="@()=>Console.WriteLine(@ep.url)">
                    </div>        
                }
            }
        </div>
    </div>
</div>
@code{
    [Parameter]
    public List<Promo> Promos { get; set; }
    [Parameter]
    public List<Episode> Episodes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeScroller");
        }
    }
}