<div class="scrollCol">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            @if (Promos.Any())
            {
                foreach (var promo in Promos)
                {
                    <!-- Slides -->
                    <li @onclick="@(()=>ShowPopupModal(promo.title, promo.video_url))" class="swiper-slide">
                        <img src="@promo.image_url" alt="@promo.title">
                        <h3>@promo.video_url</h3>
                    </li>        
                }
            }
            @if (Episodes.Any())
            {
                foreach (var ep in Episodes)
                {
                    <!-- Slides -->
                    <li @onclick="@(()=>ShowPopupModal(ep.title, ep.url))" class="swiper-slide">
                        <img src="@ep.image_url" alt="@ep.title">
                    </li>        
                }
            }
        </div>
    </div>
</div>

@if (showingPopup)
{
    <PopupModal Title="@title" VideoUrl="@url" OnCancel="@ClosePopupModal"></PopupModal>
}


@code{
    [Parameter]
    public List<Promo> Promos { get; set; }
    [Parameter]
    public List<Episode> Episodes { get; set; }
    

    string title;
    string url;
    bool showingPopup;

    void ShowPopupModal(string _title, string _url){
        title = _title;
        url = _url;
        showingPopup = true;
    }

    void ClosePopupModal(){
        title = String.Empty;
        url = String.Empty;
        showingPopup = false;
    }
}