<div class=animeDetailsVids>
    
    @foreach (var ep in Episodes)
    {
        <div @onclick="@(()=>ShowPopupModal(ep.title, ep.url))">
            <img src="@ep.image_url" alt="@ep.title">
        </div>
    }
</div>


@if (showingPopup)
{
    <PopupModal Title="@title" VideoUrl="@url" OnCancel="@ClosePopupModal"></PopupModal>
}


@code{
    //[Parameter]
    //public List<Promo> Promos { get; set; }
    [Parameter]
    public List<Episode> Episodes { get; set; }


    string title;
    string url;
    bool showingPopup;

    void ShowPopupModal(string _title, string _url){
        title = _title;
        url = _url;
        showingPopup = true;
    }

    void ClosePopupModal(){
        title = String.Empty;
        url = String.Empty;
        showingPopup = false;
    }
}