@page "/episodedetails/{id}"
@page "/episodedetails"
@inherits AnimeDetailsBase


@if (Anime == null)
{
    <div class="spinner"></div>
}
else
{
    <h3 class="pageTitle">@Anime.title Details</h3>

    <div class="detailsGrid">
        <div class="infoCol">
            <h3>Episode ID : @Anime.mal_id</h3>
            <h3>Episodes : @Anime.episodes</h3>
            <h3>Score : @Anime.score</h3>
            <h3>Rank : @Anime.rank</h3>
            <h3>Start Date : @Anime.start_date</h3>
            <h3>End Date : @Anime.end_date</h3>
            <p>Synopsis: <br> @Anime.synopsis</p>
        </div>
        <div class="imageCol">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-img-top" src="@Anime.image_url" />
                </div>
                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
        <div class="vidsCol">
            @if (vids != null)
            {
                <ScrollingVidsComponent Videos="@vids">
                </ScrollingVidsComponent>
            }

        </div>
    </div>
}
