@page "/anime/{id}"
@page "/anime"
@inherits AnimeDetailsBase


@if (Anime == null)
{
    <div class="spinner"></div>
}
else
{
    <h3 class="pageTitle">@Anime.title Details</h3>

    <div class="detailsGrid">
        <div class="infoCol">
            <h3>Episode ID : <span class="animeDetailsValues"> @Anime.mal_id</span></h3>
            <h3>Episodes : <span class="animeDetailsValues">@Anime.episodes</span></h3>
            <h3>Score : <span class="animeDetailsValues">@Anime.score</span></h3>
            <h3>Rank : <span class="animeDetailsValues">@Anime.rank</span></h3>
            <h3>Start Date : <span class="animeDetailsValues">@Anime.start_date</span></h3>
            <h3>End Date : <span class="animeDetailsValues">@Anime.end_date</span></h3>
            <p>Synopsis: <br> @Anime.synopsis</p>
        </div>
        <div class="imageCol">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-img-top" src="@Anime.image_url" />
                </div>
            </div>
            <a href="/">
                <button>
                    <i class="fas fa-arrow-circle-left" aria-hidden="true">    Back</i>
                </button>
            </a>
            
        </div>
        <div class="vidsCol">
            <div>
                <h3>Promo Videos &ang; Episodes</h3>
            </div>
            @if (Episodes.Any())
            {
                <ScrollingVidsComponent Episodes="Episodes"></ScrollingVidsComponent>
            }
            else
            {
                <div>
                    <h3>No videos available yet!</h3>
                </div>
            }
        </div>
    </div>
}
