@page "/" 
@inherits AnimeListBase


@if (Episodes != null)
{
    
    <div class="homePage">
        <div class="homePage__section1">
            <LatestAnime Episodes="Episodes"></LatestAnime>
        </div>

        <div id="divider"></div>
        
        <div class="homePage__section2">
            <h3 class="pageTitle">Highly Ranked Manga</h3>
            @if (TopManga != null)
            {
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    @* <Virtualize Items="@TopManga.Top" Context="manga">
                        <div class="swiper-slide">
                            <h5 class="animeName">@manga.title</h5>
                            <a href="manga/@manga.mal_id">
                                <img class="cardImg" src="@manga.image_url" alt="@manga.title" />
                            </a>
                        </div>
                    </Virtualize> *@

                    @foreach (var manga in TopManga.Top.Take(10))
                    {
                        <div class="swiper-slide">
                            <h5 class="animeName">@manga.title</h5>
                            <a href="manga/@manga.mal_id">
                                <img class="cardImg" src="@manga.image_url" alt="@manga.title" />
                            </a>
                        </div>
                    }
                </div>
            </div>
            }

        </div>
    </div>
}
