@page "/episodedetails/{id}"
@page "/episodedetails"
@inherits AnimeDetailsBase


@if (Anime == null)
{
    <div class="spinner"></div>
}
else
{
<div class="detailsPage">
    <h3 class="pageTitle">@Anime.title</h3>
    <div class="col">
        <div class="card">
            <img src="@Anime.image_url" />
            <div class="descriptions">
                <h3>@Anime.type</h3>
                <p>@Anime.synopsis</p>
                <p>Episode ID : @Anime.mal_id</p>
                <p>Start Date : @Anime.start_date</p>
            </div>
        </div>
        <div>
            <a href="./upcominganime/">
                Back
            </a>
            
        </div>
    </div>
    <div class="vidsGrid">
        @if (Promos != null)
        {
        <div class="promos">
            @foreach (var prom in Promos)
            {
                <h4>@prom.title</h4>
                <img src="@prom.image_url" />
            }
        </div>
        }
        else if (Episodes != null)
        {
        <div class="episodes">
            @foreach (var ep in Episodes)
            {
                <h4>@ep.title</h4>
                <img src="@ep.image_url" />

            }
        </div>
        }
        else
        {
            <h4 class="pageTitle">No Episodes were found!</h4>
        }
    </div>
        
</div>
}
