@page "/episodedetails/{id}"
@page "/episodedetails"
@inherits AnimeDetailsBase


@if (Anime == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Anime.title</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@Anime.image_url" />

                    <h4>Episode ID : @Anime.mal_id</h4>
                    <h4>Rank : @Anime.rank</h4>
                    <h4>Start Date : @Anime.start_date</h4>
                </div>
                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
}
