@page "/"
@inherits EpisodesListBase
@inject HttpClient Http
@inject NavigationManager navigationManager

<h4>Top Animes</h4>

@if (Episodes == null)
{
    <div class="spinner"></div>
}
else
{

    <div class="card-deck">
        @foreach (var episode in Episodes)
        {
            <div class="card m-3 text-center" style="min-width: 18rem; max-width: 30.5%">
                <div class="card-header">
                    @episode.title
                </div>
                <a href="@($"episodedetails/{episode.mal_id}")">
                    <img class="card-img-top imageThumbnail" src="@episode.image_url" alt="@episode.title" />
                </a>
                <div class="card-footer">
                    ID: @episode.mal_id
                </div>
                <div class="card-footer">
                    Start Date: @episode.start_date
                </div>
            </div>
        }
    </div>
}
