@page "/"
@inherits EpisodesListBase

<h4>Top Animes</h4>

@if (Episodes == null)
{
    <div class="spinner"></div>
}
else
{

    @foreach (var episode in Episodes)
    {
<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="@episode.image_url" alt="@episode.title" />
        </div>
        <div class="content">
            <h4>@episode.title</h4>
            <h6>@episode.rank</h6>
            <h6>ID: @episode.mal_id</h6>
            <h6>Start Date: @(episode.start_date == null ? "Not Announced Yet!" : episode.start_date)</h6>
        </div>
    </div>
</div>
    }

}
