@page "/search/"
@page "/search/{passedQuery}"
@inherits SearchEngineBase



<sction>
    <div class="searchComponent">
    <h3 class="pageTitle">Anime Search Engine</h3>

        <div class="searchItems">
            <EditForm class="searchForm" Model="SearchField" OnValidSubmit="@HandleSearch">
                <DataAnnotationsValidator />
                <InputText class="dropdownBtn searchElems" placeholder="Type an Anime Name" @bind-Value="SearchField.SearchField" />
                <ValidationMessage For="()=> SearchField.SearchField" class="searchElems"></ValidationMessage>
                <button type="submit" class="dropdownBtn searchElems glowing">Search the Anime API</button>
            </EditForm>
            <EditForm Model="Type">
                        <InputSelect class="dropdownBtn" Value="Type"
                                        ValueChanged="@((Types type) => SetType(type))"
                                        ValueExpression="@(()=> Type)">
                            @foreach (var _type in Enum.GetValues(typeof(Types)))
                            {
                                <option class="dropdown-item" value="@_type">@_type.ToString()</option>
                            }
                        </InputSelect>
                    </EditForm>
            
        </div>

        <div class="row">
            @if (query != null)
            {
                @foreach (var result in query.results)
                {
                    <div class="col">
                        <div class="card">
                            <img src="@result.image_url">
                            <div class="descriptions">
                                <h3>@result.title</h3>
                                <p>
                                    @result.synopsis
                                </p>
                                <a class="button" href="@Type/@result.mal_id">
                                    <button>
                                        <i class="fas fa-info-circle"></i>
                                        More Details
                                    </button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</sction>
