@page "/seasonanime/"
@page "/seasonanime/{Season}"
@inherits UpcomingSeasonBase



@if (root == null)
{
    <div class="spinner"></div>
}
else
{
    <div>
        <h3 class="pageTitle">Season Animes</h3>
    </div>
    <div>
        <EditForm Model="Season">
            <InputSelect Value="Season"
                         ValueChanged="@((Seasons season) => ValueChanged(season))"
                         ValueExpression="@(()=> Season)">
                @foreach (var value in Enum.GetValues(typeof(Seasons)))
                    {
                    <option value="@value">@value</option>
                    }
            </InputSelect>
        </EditForm>
    </div>
    <div class="container pt-3 mt-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach (var anime in root.anime)
            {
                <div class="col mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="@anime.image_url" class="card-img-top" style="object-fit: cover; height: 200px">
                        <div class="card-body">
                            <h5 class="card-title">@anime.title</h5>
                            <div class="synopsis">
                                @anime.synopsis
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

