@page "/seasonanime/"
@page "/seasonanime/{Year:int}/{Season}"
@inherits UpcomingSeasonBase


<section class="upcomingSeason">
    @if (AnimeList == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div>
            <h3 class="pageTitle">Season Animes</h3>
        </div>
        <div class="dropdown seasons">
                <EditForm Model="Season">
                    <InputSelect class="dropdownBtn dropElems" Value="Season"
                                 ValueChanged="@((Seasons season) => SetSeason(season))"
                                 ValueExpression="@(()=> Season)">
                        @foreach (var value in Enum.GetValues(typeof(Seasons)))
                        {
                            <option class="dropdown-item" value="@value">@value.ToString()</option>
                        }
                    </InputSelect>
                </EditForm>
                <EditForm Model="Year">
                    <InputSelect class="dropdownBtn dropElems" Value="Year"
                                 ValueChanged="@((int year) => SetYear(year))"
                                 ValueExpression="@(()=> Year)">
                        @foreach (var value in Years)
                        {
                            <option class="dropdown-item" value="@value">@value.ToString()</option>
                        }
                    </InputSelect>
                </EditForm>

            @if (AnimeList.Count < 1)
            {
                <div style="padding-top: 1em; font-size: 1rem;">Results were not found</div>
            }

        </div>
        <UpComingSeasonComponent UpcomingSeasons="AnimeList"></UpComingSeasonComponent>

    }

</section>